/* App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5; /* ou branco se quiser */
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
