.emoji-indicator-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  z-index: 1;
}

.huge-emoji {
  font-size: 2.6rem; 
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
  z-index: 3;
  position: relative;
}