.dashboard-wrapper {
  flex: 1;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 40px 1px;
}

.cabecalho-principal {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.secao-usuario {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

.secao-widgets {
  display: flex;
  margin-top: -60px;
}
.area-conteudo-central {
  flex: 1;
  width: 100%;
}