.dashboard-wrapper {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  box-sizing: border-box;
}

.cabecalho-principal {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.secao-usuario {
  display: flex;
  flex-direction: column;
}

.secao-widgets {
  display: flex;
  align-items: center;
}

.area-conteudo-central {
  flex: 1;
  width: 100%;
}